<%= form_with(model: comment, local: true) do |form| %>
  <div class="field">
    <%= form.label :desc %>
    <%= form.text_area :desc %>
  </div>

  <%= form.fields_for :note do |note_form| %>
    Notes<br />
    <%= note_form.text_area :text, cols: 57, rows: 8 %>
  <% end %>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
